body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    margin: 0;
}
h1{
    margin: 0;
}
article{
    margin: 0;
    padding: 0;
}
header{
    background-color: palevioletred;
    height: 160px;
}
footer{
    display: none;
}
article{
   display: inline-block;
   width: 33%;
}
#bg1{
    background-color: lightcoral;
}
#bg2{
    background-color: lemonchiffon;
}
#bg3{
    background-color: lightblue;
}

@media screen and (max-width:640px){
    article{
        display: block;
        width: 100%;
       
    }
}
@media screen and (max-width:800px){
    header{
        display: none;
    }
}
@media print {
    footer{
        display: block;
        background-color: paleturquoise;
        height: 150px;
        border: 1px solid black;
    }
}