html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
}

div #image{
    margin-left: 8%;
    width: 200px;
}
div{
    display: inline-block;
    margin: 0;
}
div .col-lg-3{
    border: 1px solid grey;
    background-color: rgb(220, 217, 217);
    border-radius: 8px;
    box-sizing:border-box;
    text-align: justify;
    padding: 15px;
    margin: 3% 4% 3% 0%;
}
div .col-lg-12 p{
    text-align: center;
}
.placeholder{
    width: 90px;
    margin-right: 4%;
    float: left;
}
.container{
    width: 100%;

}
.row{
    width: 100%;
    margin: 0;
}
.test{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    min-height: 1px;
    float: left;
    margin: 0;
    padding: 0;
}
#cacher{
    display: none;
}
#entete{
    width: 150px;
}


@media screen and (min-width:1200px) {
    .col-lg-1{
        width: calc(100%/12);
    }
    .col-lg-2{
        width: calc(200%/12);
    }
    .col-lg-3{
        width: calc(300%/12);
    }
    .col-lg-4{
        width: calc(400%/12);
    }
    .col-lg-5{
        width: calc(500%/12);
    }
    .col-lg-6{
        width: calc(600%/12);
    }
    .col-lg-7{
        width: calc(700%/12);
    }
    .col-lg-8{
        width: calc(800%/12);
    }
    .col-lg-9{
        width: calc(900%/12);
    }
    .col-lg-10{
        width: calc(1000%/12);
    }
    .col-lg-11{
        width: calc(1100%/12);
    }
    .col-lg-12{
        width: calc(1200%/12);
    }
    #cacher{
        display: none;
    }
    .col-xs-2{
        display: none;
    }
}

@media screen and (min-width:900px) and (max-width:1200px){
    .col-md-1{
        width: calc(100%/12);
    }
    .col-md-2{
        width: calc(200%/12);
    }
    .col-md-3{
        width: calc(300%/12);
    }
    .col-md-4{
        width: calc(400%/12);
    }
    .col-md-5{
        width: calc(500%/12);
    }
    .col-md-6{
        width: calc(600%/12);
    }
    .col-md-7{
        width: calc(700%/12);
    }
    .col-md-8{
        width: calc(800%/12);
    }
    .col-md-9{
        width: calc(900%/12);
    }
    .col-md-10{
        width: calc(1000%/12);
    }
    .col-md-11{
        width: calc(1100%/12);
    }
    .col-md-12{
        width: calc(1200%/12);
    }
    .col-xs-2{
        display: none;
    }
}
@media (min-width:650px) and (max-width:900px){
    .col-sm-1{
        width: calc(100%/12);
    }
    .col-sm-2{
        width: calc(200%/12);
    }
    .col-sm-3{
        width: calc(300%/12);
    }
    .col-sm-4{
        width: calc(400%/12);
    }
    .col-sm-5{
        width: calc(500%/12);
    }
    .col-sm-6{
        width: calc(600%/12);
    }
    .col-sm-7{
        width: calc(700%/12);
    }
    .col-sm-8{
        width: calc(800%/12);
    }
    .col-sm-9{
        width: calc(900%/12);
    }
    .col-sm-10{
        width: calc(1000%/12);
    }
    .col-sm-11{
        width: calc(1100%/12);
    }
    .col-sm-12{
        width: calc(1200%/12);
    }
    #cacher{
        display: block;
    }
    .col-xs-2{
        display: none;
    }
}
@media (min-width:150px) and (max-width:650px) {
    .col-xs-1{
        width: calc(100%/12);
    }
    .col-xs-2{
        width: calc(200%/12);
    }
    .col-xs-3{
        width: calc(300%/12);
    }
    .col-xs-4{
        width: calc(400%/12);
    }
    .col-xs-5{
        width: calc(500%/12);
    }
    .col-xs-6{
        width: calc(600%/12);
    }
    .col-xs-7{
        width: calc(700%/12);
    }
    .col-xs-8{
        width: calc(800%/12);
    }
    .col-xs-9{
        width: calc(900%/12);
    }
    .col-xs-10{
        width: calc(1000%/12);
    }
    .col-xs-11{
        width: calc(1100%/12);
    }
    .col-xs-12{
        width: calc(1200%/12);
    }
    #menu{
        display: none;
    }
    .col-xs-2 img{
        width: 100px;
    }
    #hamburger{
        width: 40px;
        margin:4px 0px 0px 5px;
    }
    ul{
        position: absolute;
        top: 108px;
        right: 5px;
        width: 120px;
        text-align: center;
    }

    ul li{
        list-style: none;
        display: none;
        background-color: black;
        color: white;
        padding: 10px;
    }
    #hamburger:hover ~ ul li{
        display: block;
    }
}
