body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
h1{
    color: rgb(110, 110, 220);
}
h2{
    color: rgb(219, 233, 62);
}
img{
    width: 40px;
    height: 40px;
}
div{
    display: inline-block;
}
p{
    margin: 0;
}
.semaine{
    margin-top: 2%;
    background-color: rgb(147, 147, 232);
    border: 1px solid rgb(240, 239, 239);
    border-radius: 5px;
}
.jour{
    display: inline-block;
    width: 100%;
}
.journee{
    width: 9%;
}
.jimg{
    margin-left: 10%;
    vertical-align: middle;
}
.tempj{
    width: 10%;
    margin-left: 15%;
}
.pollen{
    width: 15%;
    margin-left: 10%;
}
#predi{
    margin-left: 100%;
    width: 62%;
    font-style: italic;
}
#temperature{
    font-weight: bold;
    font-size: 25px;
    color: rgb(13, 13, 133);
}
@media screen and (min-width: 850px) {
    #predi{
        margin-left: 223%;
    }
    .tempj{
        margin-left: 20%;
    }
    .pollen{
        margin-left: 16%;
    }
    .jimg{
        margin-left: 15%;
    }
}
@media screen and (min-width:1000px) {
    hr{
        display: none;
    }
    p{
        font-size: 20px;
    }
    .banniere, img{
        width: 90px;
        height: 90px;
    }
    .jour div {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .semaine{
        display: inline-block;
        width: 100%;
    }
    .journee{
        text-align: center;
    }
    .jimg{
        margin: 0;
        vertical-align: none;
    }
    .jour{
        width: 14%;
        float: left;
    }
    .tempj{
        margin-left: 0;
    }
    .pollen{
        margin-left: 0;
    }
    #predi{
        width: 200px;
    }
}