body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
h1{
    color: rgb(110, 110, 220);
}
img{
    width: 40px;
    height: 40px;
}
div{
    display: inline-block;
}
p{
    margin: 0;
}

#predi{
    margin-left: 50%;
    width: 62%;
}
.jour{
    display: inline-block;
    width: 100%;
}
.journee{
    width: 9%;
}
.jimg{
    margin-left: 10%;
    vertical-align: middle;
}
.tempj{
    width: 10%;
    margin-left: 15%;
}
.pollen{
    width: 15%;
    margin-left: 10%;
}
@media screen and (min-width: 850px) {
    #predi{
        margin-left: 223%;
    }
    .tempj{
        margin-left: 20%;
    }
    .pollen{
        margin-left: 16%;
    }
    .jimg{
        margin-left: 15%;
    }
}
@media screen and (min-width:1000px) {
    #semaine{
        display: inline-block;
        width: 100%;
    }
    .journee{
        text-align: center;
    }
    .jour div {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .jimg{
        margin: 0;
        vertical-align: none;
    }
    .jour{
        width: 12%;
        float: left;
    }
    .tempj{
        margin-left: 0;
    }
    .pollen{
        margin-left: 0;
    }
    hr{
        display: none;
    }
}